input, textarea {
    background: rgb(211, 211, 211);
    color: black;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    padding: .5em;
    font-size: 14px;
}
form button {
    background: black;
    width: 100%;
    max-width: 400px;
    color: white;
    padding: .5em;
    border-radius: 5px;
}
form div {
    margin-bottom: 1em;
}